<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.miliconvert.xsmt.tmodel.userfunctions">
      <userFunction
            category="MPGT"
            class="org.miliconvert.xsmt.mpgt.Adatp3ToMPGT"
            comment="mpgt"
            name="MPGTConversion">
      </userFunction>
   </extension>

</plugin>
