<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.miliconvert.xsmt.tmodel.userfunctions">
      <userFunction
            category="%functions.userFunction.category.core"
            class="org.miliconvert.xsmt.functions.core.Constant"
            comment="%functions.userFunction.constant.comment"
            mandatoryProperties="value"
            name="%functions.userFunction.constant.name">
      </userFunction>
      <userFunction
            category="%functions.userFunction.category.strings"
            class="org.miliconvert.xsmt.functions.core.Replace"
            comment="%functions.userFunction.replace.comment"
            name="%functions.userFunction.replace.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.arithmetic"
            class="org.miliconvert.xsmt.functions.math.Addition"
            comment="%functions.userFunction.addition.comment"
            name="%functions.userFunction.addition.name">
      </userFunction>
   	  <userFunction
            category="%functions.userFunction.category.arithmetic"
            class="org.miliconvert.xsmt.functions.math.Soustraction"
            comment="%functions.userFunction.soustraction.comment"
            name="%functions.userFunction.soustraction.name">
      </userFunction>
   	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.IfElse"
            comment="%functions.userFunction.ifElse.comment"
            name="%functions.userFunction.ifElse.name">
      </userFunction>
   	  <userFunction
            category="%functions.userFunction.category.arithmetic"
            class="org.miliconvert.xsmt.functions.math.Division"
            comment="%functions.userFunction.division.comment"
            name="%functions.userFunction.division.name">
      </userFunction>
   	  <userFunction
            category="%functions.userFunction.category.arithmetic"
            class="org.miliconvert.xsmt.functions.math.Multiplication"
            comment="%functions.userFunction.multiplication.comment"
            name="%functions.userFunction.multiplication.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.Equal"
            comment="%functions.userFunction.equal.comment"
            name="%functions.userFunction.equal.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.Difference"
            comment="%functions.userFunction.difference.comment"
            name="%functions.userFunction.difference.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.Inferior"
            comment="%functions.userFunction.inferior.comment"
            name="%functions.userFunction.inferior.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.Superior"
            comment="%functions.userFunction.superior.comment"
            name="%functions.userFunction.superior.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.InferiorOrEqual"
            comment="%functions.userFunction.inferiorOrEqual.comment"
            name="%functions.userFunction.inferiorOrEqual.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.SuperiorOrEqual"
            comment="%functions.userFunction.superiorOrEqual.comment"
            name="%functions.userFunction.superiorOrEqual.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.And"
            comment="%functions.userFunction.and.comment"
            name="%functions.userFunction.and.name">
      </userFunction>
	  <userFunction
            category="%functions.userFunction.category.logic"
            class="org.miliconvert.xsmt.functions.core.Or"
            comment="%functions.userFunction.or.comment"
            name="%functions.userFunction.or.name">
      </userFunction>
   <userFunction
         category="%functions.userFunction.category.strings"
         class="org.miliconvert.xsmt.functions.dict.Dictionnary"
         comment="%functions.userFunction.dictionnary.comment"
         mandatoryProperties="dict"
         name="%functions.userFunction.dictionnary.name">
   </userFunction>
   </extension>

</plugin>
