1ACSTAT
  /TAIL      /LOCN/ACST/AVST/RSN                          /ETIC
  /446       /LICT/FMC /FMC /-                            /-
  /447       /LICT/NMCS/FMC /ENGINE BRACKET               /041200ZOCT//