1CARGO
  /LN/CONSIGNEE /STCAT/TYPE  /QTY /CONTNR/MTONS/CUBE /LTONS/MEATN/L/LOC
  /01/A         /DECK /AMMO  /  15/SEAVAN/  875/ 3205/  862/ 2830/N/11D
  /02/RLC       /DECK /AMMO  /  15/SEAVAN/  875/ 3205/  862/ 2830/N/11D
  //