1CGODETL
  /LN/CONSIGNEE /TYPE  /QTY /MTONS/CUBE /LTONS/MEATN/CONTNR/BARNO  
  /01/A         /AMMO  /  15/  875/ 3205/  862/ 2830/SEAVAN/12345
  /02/RLC       /AMMO  /  15/  875/ 3205/  862/ 2830/SEAVAN/12345//