1CREWS
  /LOCATION/ACFT TYPE/ASSGD/COMBAT RDY/AAR QUAL/CREW AVAIL
  /ENOL    /NE3A     /   12/        10/      06/        10
  /ENOL    /UKE3D    /   02/        02/      02/        02
  /EGXW    /NE3A     /   02/        02/      02/        02//