1PER
  /LOCATION/TYPE/ASSGN/AVAIL/SHORTFALLS
  /ENOL    /OPS /  115/  113/2 WOUNDED
  /ENOL    /LOG /   90/   88/2 MISSING
  /EGXW    /OPS /   15/   14/1 KILLED IN ACTION
  /EGXW    /OPS /   20/   20//