2SHORAD
  /CODE  /TITLE       /SYSTEM       /ON-HAND/AMMOH /TOE   /REQ-C
  /AAZ1AD/ABC-AD-40B1 /ABC-40AD     /     40/   220/   500/  160
  /AAY2AD/ABC-AD-33MX /BCD-33AD     /    200/  1200/  1500/  480//