3CARGO
  /QTY/LOADTYP /SKETNR /CNT-CL /HWT/SERWT/DIM     /MLC/UNNO   /UNCL                      
  / 15/TRACKVEH/1234567/-      / 73/ 2022/50-10-6 / 30/UN1234/1.4D
  / 98/WHEELVEH/1234568/TENTS  / 30/ 8050/25-10-4 / 10/UN2468/4.3 //