6CALLSGN
  /UNIT                /CALLSIGN            /UNITDESG
  /ARK ROYAL           /CATSKILL            /CCS
  /WASP                /ROVER               /LCS
  /OCEAN               /RED ONE CATSKILL    /PCS
  /GALICIA             /RED ONE HELPER      /SCS
  /ALBION              /SAFETY ONE          /SAFETY BOAT 1
  /INCHON              /SAFETY TWO          /SAFETY BOAT 2//