6LNDGSEQ
  /TIME-H/EVENT
  /H-0600/ALL UNITS ARRIVE IN ASSIGNED SEA ECHELON AREA
  /H-0200/PRE-ASSAULT WAVE 1 LEAVES OCEAN
  /H-0000/H-HOUR WAVE 1 TOUCHDOWN
  /HP0005/SAFETY BOATS FOUR AND FIVE TURN AWAY
  /HP0015/WAVE 2 TOUCHDOWN//