6RWASLT
  /TIME  /WAV/LZ        /NR/TYPE  /LAUNCH UNIT    /COMMENT
  /L-0100/P1 /HAWK      /2 /AH1   /WASP           /SCOUT
  /L-0030/P2 /FALCON    /2 /SH60  /A BURKE        /TARGETING
  /LP0000/1  /FALCON    /4 /CH47B /OCEAN
  /LP0000/1  /EAGLE     /2 /CH53  /INCHON
  /LP0010/2  /FALCON    /4 /CH47B /WASP
  /LP0010/2  /EAGLE     /2 /CH53  /INCHON//