6SRFASLT
  /TIME  /WAV/BEACHLZ   /NR/TYPE /LAUNCH UNIT    /COMMENT
  /H-0030/P1 /RED ONE   /1 /LCVP /OCEAN          /SURVEY NO TOUCHDOWN
  /HP0000/1  /RED ONE   /2 /LCM  /GALICIA        
  /HP0010/2  /RED ONE   /2 /LCU  /ALBION
  /HP0020/2  /CLZ1      /2 /LCAC /WASP//