8SARUNIT
  /MSNNO   /CALLSIGN         /ACTTYP  /PRIFRQ  /SECFRQ  /CMNT          
  /2T531   /REX 22           /SCREEN  /   251.2/   121.5/-             
  /MISS532 /MOONBEAM 51      /MOVE    /   329.5/   320.2/-             
  /BN2315  /DEVIL 52         /RELIEF  /   330.8/122.6//