8SARDATA
  /MSNNO   /TASKUNIT            /TYPAC     /DUR /SR /REC/CMNT
  /5GRDO11 /3STROMO             /HH53      /2.1 /  2/  5/-
  /2MT555  /3TFW                /SEAWOLF   /3.4 /  1/  3/-
  /321MM   /2TAF                /ALOUETTE  /4.5 /  2/  3//