8SARMSN
  /MSNNO   /SAROBJ      /STATUS /SPTNO   /TASKUNIT            /SER
  /BN123   /GFLN 123    /INITERM/345GH   /123SQN              /AS56
  /SS456   /STUD 01     /INITERM/999SH   /1441 BSQN           /AS34
  /AA456   /BLUE 02     /STATREP/16DDF   /1SQN(AC)//