8TIMEAMP
  /MSNNO   /ACTTYP  /TMEDES/TIME   /ACTTYP  /TMEDES/TIME   /CMNT
  /2T531   /AIRINT  /NLT   /   0620/MOPUP   /ATKE  /220710Z/-
  /MISS532 /OCA     /NLT   /   0720/JAM     /TFT   /220810Z/-
  /8N2315  /ESCORT  /ATKE  /   0820/INTCEPT /RDZTME/220910Z//