8WEATHER
  /MSNNO   /WEATHER    /VIS    /BASE/WD  /WNDSPD /PK-GUST/SS/CMNT
  /SS1234  /WMO:XXHRASN/500FT  / 230/035T/45.5KTS/50.0KTS/ 5/-
  /MISS4444/ZR         /7.0NM  /   -/230T/2.5KTS /4.5KTS / 1//