ADVOPS/SEAL  TEAM ONE/120400ZJUN2003/120500ZJUN2003
  /SECURE LIGHTHOUSE FACILITY AT HARBOR ENTRANCE//
  ADVOPS/C SQN/120230ZJUN2003/120400ZJUN2003
  /COMPLETE FINAL BEACH SURVEY AND MINE DANGER ZONES//