CTCMT/CINCGERFLT
  /1:221345Z VSL RPTD BY MPA AS DIW WITH OIL 10NM SICK NORTHWARD
  /2:CARGO-12 CONTAINERS VISIBLE ON DECK EACH EST 10X10X50FT
  /3:INTEL RPTS VSL HAS REPEATEDLY USED BOGUS IRCS DEKF
  /4:VSL HAS REPEATEDLY USED BOGUS IRCS DEKF//