MSGID/MISREP/APP-11(C)/ORIGINAL/SHAPE/15/DEC/UPD/5
  /NATO/NATO UNCLASSIFIED/RELEASABLE TO THE INTERNET//
  MSGID/OPTASK MINING/APP-11(C)/ORIGINAL/HQ NAPLES/-/20070630T103000Z/UPD/8
  /ITA/OTHER:SEGRETISSIMO/RELEASABLE TO THE ROYAL NAVY//