ORGIDSCE/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDSCE/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDSCE/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGIDSCE/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDSCE/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA/23434//
  ORGIDSCE/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDSCE/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//