ORGIDDET/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDDET/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDDET/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDDET/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDDET/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDDET/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDDET/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//