ORGIDTSK/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDTSK/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDTSK/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDTSK/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDTSK/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDTSK/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDTSK/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//