ORGIDRPU/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDRPU/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDRPU/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDRTG/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDRTG/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDRTG/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDRTG/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//