ORGIDREC/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDREC/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDREC/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDREC/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDREC/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDREC/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDREC/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//