ORGIDCA/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDCA/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDCA/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGIDCA/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDCA/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA/23434//
  ORGIDCA/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDCA/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//