ORGIDRPT/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDRPT/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDRPT/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDRPT/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDRPT/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDRPT/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDRPT/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//