ORGID/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGID/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGID/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGID/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGID/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGID/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGID/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//