ORGIDHOU/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDHOU/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDHOU/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDHOU/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDHOU/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDHOU/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDHOU/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//