ORGIDSUB/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDSUB/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDSUB/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGIDSUB/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDSUB/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDSUB/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDSUB/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//