ORGIDPA/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDPA/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDPA/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGIDPA/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDPA/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA/23434//
  ORGIDPA/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDPA/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//