ORGIDATT/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDATT/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDATT/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDATT/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDATT/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDATT/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDATT/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//