ORGIDAST/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDAST/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDAST/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA234346//
  ORGIDAST/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDAST/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA23434//
  ORGIDAST/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDAST/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//