ORGIDCPT/1-503IN/BN/US/INF/RECON/ABN/-/2BDE/A//
  ORGIDCPT/A/CO/SP/INF/MECH/-/-/3BN/A//
  ORGIDDFT/II(GE)/CORPS/GE/-/-/-/-/-/A/GEA/234346//
  ORGIDDFT/8(CH)/BN/CA/AR/-/-/-/2BDE(UK)/A/CAA643423//
  ORGIDDFT/V(US)/CORPS/US/HQ/MAIN/-/-/-/A/USA/23434//
  ORGIDDFT/TM2/-/-/HUMAN/-/-/-/-/IRCR//
  ORGIDDFT/TZRYN/-/-/HUMAN/-/-/-/-/UNHCR//