PDAL/3RD  WING COMMAND BUNKER/CON/15/CHARLEROI AFB/UTM:32N2985945585243
  /2/DTGFM:081000ZJAN2004/DTGTO:102040ZJAN2004
  /NO FLIGHT OVER THE VERTICAL/JOC
  /ASSET IS LOCATED NEAR INTERNATIONAL AIRPORT//