PERSNID/B-DA99-12345/POMMEROY/PAUL/HENRY,JAMES/MILLER/COLONEL/M/1.86M
  /BLUE/19201226/BUTTERMERE, STUKELEY MEADOWS/UK/20000214/BELET HUEN/SO
  /UK/BAPTIST/ETHNIC ALBANIEN/M/2/I-UK22-12345/20001213164734
  /REMARKS(LITERAL)//