PHYCHIII/AREA:100M2-2/AZIMUTH:90DEG-MAG-2/DESIGN:HRD/DIAM:25.66-2
  /ENTRY:7.8KM-2/FLOORSPA:2/7.52M2-2/LINEAR:12-6-3M
  /MATERIAL:CONR-0.33M-3/PLACE:EL/FLOORAB:12/FLOORBEL:4/RADIUS:36.5CM-2
  /SPAN:4-176.23FT-2/STRENGTH:35-60-90-MPA-2/STRUCT:BDCRFVL/SURFACE:CMP
  /THICK:32CM-1/VERTCL:3.66M-1//