PREPLAN/AAW/ZIPPO  1,2,3/TURN MAINBODY DOWNWIND/F//
  PREPLAN/ASW/ESM BEARING/ESTABLISH SEARCH CENTRE 8NM DOWN BEARING/NA//
  PREPLAN/ASUW/SNOWBALL/TATTLETALES WILL IMMEDIATELY ENGAGE HOSTILE  TARGETS/NA//
  PREPLAN/EW/MULTIPLE PUFFBALL/CALL ZIPPO 4/NA//