RDMOVGEN/Y/STRONG  ALLIANCE/COLUMN OR ROUTE DETAILS (FREE TEXT)/02
  /0012/PEACE KEEPING FORCE CLARK/TG/3RD(US)CORPS/COMBINED EFFORT 1999
  /ORANGE/GROUPING (FREE TEXT)
  /PRECAUTIONARY MEASURE (FREE TEXT)/ESTIME:171645ZAPR2001/N/ALPHA
  /BRAVO/ARRIVAL SEQUENCE (FREE TEXT)
  /156-TRUCK, 5TONS,4X4/66-BATTLE TANK, 35 TONS//