VEHTECH/12-10TONTRUCK4X4/GEN/MLCT:10/MLCW:5/MAXWEIW:30/MAXWEIT:30000
  /MAXWIDTH:280/MAXHIGH:486/MAXLEN:1280/MAXTOT:10/MAXAXLE:10/AXNUM:4  /AXWEIGHT:5/AXCENDIS:198CM/AXWEIGHT:5/AXCENDIS:198CM/AXWEIGHT:5
  /AXCENDIS:198CM/AXWEIGHT:5/-//