VERTINST/INVINCIBLE/2/SEAKING/PERSONNEL-5/FRANKFURT/AMSTERDAM
  /INVINCIBLE/BERLIN/BERLIN
  /RETURN EMPTY PALLETS TO FRANKFURT AFTER LAST LOAD//
  VERTINST/INVINCIBLE/2/SEAKING/SOLID-SPAREPARTS-2PAL/FRANKFURT
  /AMSTERDAM/INVINCIBLE//
  //